# Enter the details received from gnani apiservice
[VOICEBIOMETRIC_USER]
VOICEBIOMETRIC_ENROLL_API_URL=https://armour365.gnani.ai/api/enrollment
VOICEBIOMETRIC_AUTHENTICATE_API_URL=https://armour365.gnani.ai/api/verification
VOICEBIOMETRIC_DISENROLL_API_URL=https://armour365.gnani.ai/api/delete_enrollment
TOKEN=<Enter Token Here>
ACCESSKEY=<Enter accesskey here >
AUDIO_FILE_PATH=./audio/speaker.wav
SPEAKER_NAME=<enter speaker name here>
EMAIL_ID=<enter your email here>
